{% extends "base.html" %}

{% block content %}
<h1>{{ quiz.title }}</h1>

<h2>Вопрос: {{ question.title }}</h2>

<h3>Добавленные ответы:</h3>
<ul>
    {% for answer in answers %}
    <li>{{ answer.text }} {% if answer.status %}✅ (Верный){% else %}❌ (Неверный){% endif %}</li>
    {% else %}
    <li><i>Пока нет ответов</i></li>
    {% endfor %}
</ul>
<a href="{{ url_for('create_answer', quiz_id=quiz.id, quest_id=question.id) }}"
                           class="btn btn-xs btn-primary">Добавить ответ️</a>
<a href="{{ url_for('review_quiz', quiz_id=quiz.id) }}"
                           class="btn btn-xs btn-primary">Завершить вопрос</a>
{{ message }}
{% endblock %}