{% extends 'base.html' %}

{% block content %}

<main class="quiz-view">

    <!-- Шапка квиза -->
    <header class="quiz-header">
        <h1 class="quiz-title">{{ quiz.title }}</h1>
        <p class="quiz-description">{{ quiz.description }}</p>

        <div class="quiz-actions">
            <a href="{{ url_for('preview_quiz_game', quiz_id=quiz.id) }}" class="btn btn-sm btn-success">Играть</a>
            <a href="{{ url_for('edit_quiz_info', quiz_id=quiz.id) }}" class="btn btn-primary">✏️ Редактировать информацию о квизе</a>
            <a href="{{ url_for('delete_quiz', quiz_id=quiz.id) }}" onclick="return confirm('Удалить квиз безвозвратно?')"
               class="btn btn-danger">🗑️ Удалить квиз</a>
        </div>
    </header>
    <!-- Создать вопрос/сохранить квиз -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.add_question(type="submit", class="btn btn-primary") }}</p>
        <p>{{ form.save_quiz(type="submit", class="btn btn-primary") }}</p>
    </form>

    <!-- Список вопросов -->
    <section class="questions-list">

        <!-- Вопрос + Ответы -->
        <article class="question-block">
            {% for question in data %}
            <div class="question-header">
                <h2 class="question-text">{{ question[0].content }}</h2>
                <div class="question-actions">
                    <a href="{{ url_for('edit_question', quiz_id=quiz.id, quest_id=question[0].id) }}" class="btn btn-sm btn-primary">✏️
                        Изменить</a>
                    <a href="{{ url_for('delete_question', quest_id=question[0].id) }}"
                       onclick="return confirm('Удалить вопрос безвозвратно?')"
                       class="btn btn-danger">🗑️ Удалить</a>
                </div>
            </div>

            <div class="answers-list">
                <div class="answer-item">
                    {% for answer in question[1] %}
                    <span class="answer-text">{{ answer.text }}</span>
                    {% if answer.status %}
                    <span class="answer-badge correct">✅ Верный</span>
                    {% else %}
                    <span class="answer-badge incorrect">❌ Неверный</span>
                    {% endif %}
                    <div class="answer-actions">
                        <a href="{{ url_for('edit_answer', quiz_id=quiz.id, quest_id=question[0].id, answer_id=answer.id) }}"
                           class="btn btn-xs btn-primary">✏️</a>
                        <a href="{{ url_for('delete_answer', answer_id=answer.id) }}"
                           onclick="return confirm('Удалить вопрос безвозвратно?')" class="btn btn-danger">🗑️</a>

                    </div>
                    {% endfor %}
                </div>

            </div>

            {% endfor %}
        </article>


    </section>
</main>

{% endblock %}