{% extends 'base.html' %}

{% block content %}
<h2>Квиз: {{ quiz_title }} </h2>
<p><i>{{ quiz_description }}</i></p>

<h3>Структура квиза:</h3>
{% for q in questions %}
<div style="border:1px solid #ccc; padding:10px; margin:10px 0; background:#f9f9f9;">
    <p>{{ q.content }}</p>
</div>
{% else %}
<div style="border:1px solid #ccc; padding:10px; margin:10px 0; background:#f9f9f9;">
    <p>Пока нет вопросов</p>
</div>
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.add_question(type="submit", class="btn btn-primary") }}</p>
    <p>{{ form.save_quiz(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}